.login-modal-bgcolor {
    color:white !important;
    background-color: #5cb85c;
    text-align: center;
    font-size: 30px;
}
.edit-modal-bgcolor {
    color:white !important;
    background-color: #ADD8E6;
    text-align: center;
    font-size: 30px;
}
.login-modal-footer {
      background-color: #f9f9f9;
}
.spinner-hide {
    display: none;
}