<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/css/loading-spinner.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- This will get moved. Soon-ish(tm) -->
        <style>
            .affix {
              top: 0;
              z-index:1000;
              width: 100%;
            }
            {% include 'login-modal-style.html' %}
        </style>
    </head>
    
    <body>
        
        {% include 'navbar.html' %}
        {% include 'login-modal.html' %}
        <script>
            $(".navbar").attr("data-offset-top", 2);
            $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
        </script>
        
        <div class="container">
            <div id="thePost" class="panel panel-default">
                {% autoescape false %}
                <div class="panel-heading">
                    <h2 class="text-center">{{ post_title }}</h2>
                    <p class="text-left">by <img class="icon-user-mini img-circle" src="/user_icon/{{ post_author_id }}"> {{ post_author }} {{ post_tags }}</p>
                </div>
                <div class="panel-body" >
                    <div>{{ post_body }}</div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" onclick="location.href='/'"><span class="glyphicon glyphicon-arrow-left"></span> Back to home</button>
                </div>
                {% endautoescape %}
            </div>
        </div>
        
        <div class="clearfix" id="clearfix"></div>
    
    </body>
</html>